<template>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Master key</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group" :class="{ 'has-error': errorMessage }">
                                    <label for="masterKey" class="control-label">Enter master key file</label>
                                    <input name="masterKey" placeholder="Master key" type="file" @change="onMasterKeyFileNameChanged">
                                    <span class="help-block" v-if="errorMessage">
                                        <strong>{{ errorMessage }}</strong>
                                    </span>
                                </div>
                                <a class="pull-right" href="" @click.prevent="goGenerator">Remove container</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        options: Object
    },
    
    data() {
        return {
            errorMessage: null,
        };
    },

    created() {
        this.errorMessage = this.options.errorMessage;
    },

    methods: {
        onMasterKeyFileNameChanged(event) {
            const fileList = event.target.files;
            if (fileList.length) {
                const fileReader = new FileReader();
                fileReader.onloadend = (e) => this.onMasterKeyLoaded(fileReader.result);
                fileReader.readAsText(fileList[0]);
            }
        },

        onMasterKeyLoaded(key) {
            this.$parent.container.setKey(key);
            this.$parent.container.getContent()
                .then((content) => {
                    if(content) {
                        this.goList({content});
                    } else {
                        this.errorMessage = "Decrypt error!";
                    }
                })
                .catch(() => {
                    this.errorMessage = "Server error!";
                })
        },

        goGenerator() {
            const options = (this.errorMessage === "Server error!") ? this.errorMessage : {};
            this.$emit('changeComponent', { name: 'generator', options });
        },

        goList(options) {
            this.$emit('changeComponent', {name: 'list', options});
        },
    }
}
</script>
