<template>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title pull-left">Generate new container</h3>
                        <a href="" class="pull-right" @click.prevent="goBack">Back</a>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group" :class="{ 'has-error': errorMessage }" style="margin-bottom: 0px">
                                <div class="col-md-12">
                                    <a class="btn btn-primary form-control" @click="generateContainer">Upload key</a>
                                    <span class="help-block text-center" v-if="errorMessage">
                                        <strong>{{ errorMessage }}</strong>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        options: Object
    },

    data() {
        return {
            errorMessage: null,
        };
    },

    created() {
        this.errorMessage = this.options.errorMessage;
    },

    methods: {
        generateContainer() {
            this.$parent.container.new()
                .then((key) => {
                    this.uploadAsTextFile('master.key', key);
                    this.errorMessage = null;
                    this.goBack();
                })
                .catch(() => {
                    this.errorMessage = "Server error!";
                });
        },
        
        uploadAsTextFile(fileName, body) {
            const URL = window.URL.createObjectURL(new Blob([body], {type: 'text/plain'}));
            const el = document.createElement('a');
            el.download = fileName;
            el.href = URL;
            el.style.display = 'none';
            document.body.appendChild(el);

            el.click();
            window.URL.revokeObjectURL(URL);
            document.body.removeChild(el);
        },

        goBack() {
            this.$emit('changeComponent', { 
                name: 'checkkey',
                options: {
                    errorMessage: this.errorMessage
                }
            });
        },
    }
}
</script>
