<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <div class="col col-md-6">
                            <h3 class="panel-title">Keys manager</h3>
                        </div>
                        <div class="col col-md-6 text-right">
                            <button class="btn btn-sm btn-primary btn-create" @click="showCreateModal">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Create New
                            </button>
                        </div>
                    </div>
                    <table class="table table-bordered table-hover" v-if="content.length">
                        <thead>
                            <tr>
                                <th class="text-center">Id</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in content" :key=index>
                                <th class="col-md-2 text-center">{{ index + 1 }}</th>
                                <td class="col-md-6 text-center">{{ item.name | cut(50) }}</td>
                                <td class="col-md-4 text-center">
                                    <button class="btn btn-primary btn-xs" @click="copyToClipboard(item.key)">
                                        <span class="glyphicon glyphicon-copy"></span>
                                    </button>
                                    <button class="btn btn-primary btn-xs" @click="showEditModal(item, index)">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button class="btn btn-danger btn-xs" @click="showRemoveModal(index)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="panel-body" v-else>Nothing here</div>
                </div>
            </div>
        </div>
        <component
            :is="currentModal"
            v-bind="modalContent"
            @accept="onModalAccept"
            @dismiss="onModalDismiss">
        </component>
    </div>
</template>

<script>
import ModalBig from './modals/ModalBig.vue'
import ModalSmall from './modals/ModalSmall.vue'

export default {

    components: {
        ModalBig,
        ModalSmall
    },

    props: {
        options: Object
    },
    
    data() {
        return {
            content: null,
            currentModal: null,
            modalContent: null
        };
    },

    created() {
        this.content = this.options.content;
    },

    filters: {
        cut(value, max) {
            if (!value) return '';
            value = value.toString();
            return (value.length > max) ? value.slice(0, max) + ' ...' : value;
        }
    },

    methods: {
        showCreateModal() {
            this.modalContent = {
                index: this.content.length,
                options: {
                    title: 'Create item',
                    name: '',
                    key: '',
                }
            };
            this.currentModal = 'ModalBig';
        },

        showEditModal(item, index) {
            this.modalContent = {
                index,
                options: {
                    title: 'Edit item',
                    name: item.name,
                    key: item.key,
                }
            };
            this.currentModal = 'ModalBig';
        },

        showRemoveModal(index) {
            this.modalContent = {
                index,
                options: {
                    title: 'Remove item',
                    body: 'Remove item with id ' + (index + 1),
                }
            };
            this.currentModal = 'ModalSmall';
        },

        onModalAccept(message) {
            if (this.currentModal === 'ModalBig') {
                this.onModalSave(message);
            } else {
                this.onModalDelete(message);
            }
            this.onModalDismiss();
        },

        onModalSave(message) {
            const newContent = this.content;
            newContent[message.index] = message.item;
            this.$parent.container.setContent(newContent)
                .then((saved) => {
                    if(saved) {
                        this.content = newContent;
                    } 
                })
                .catch(() => {console.log('error')})
        },

        onModalDelete(message) {
            const newContent = this.content;
            newContent.splice(message.index, 1);
            this.$parent.container.setContent(newContent)
                .then((saved) => {
                    if(saved) {
                        this.content = newContent;
                    } 
                })
        },

        onModalDismiss() {
            this.currentModal = null;
        },

        copyToClipboard(text) {
            const el = document.createElement('textarea');
            el.value = text;
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            document.body.removeChild(el);
        },
    }
}
</script>
