<template>
    <div>
        <component :is="component" :options="componentOptions" @changeComponent="changeComponent" @changeModal="changeModal"></component>
        <component :is="modal"></component>
    </div>
</template>

<script>
import checkkey from './components/CheckKey.vue'
import generator from './components/Generator.vue'
import list from './components/List.vue'
import container from './models/container.js'

export default {
    components: {
        checkkey,
        generator,
        list,
    },

    data() {
        return {
            component: null,
            componentOptions: null,
            modal: null,
            container
        }
    },

    created() {
        this.container.isNotNull()
            .then((isNull) => {
                const options = { errorMessage: null };
                if(isNull) {
                    this.changeComponent({ name: 'generator', options });
                } else {
                    this.changeComponent({ name: 'checkkey', options });
                } 
            })
            .catch(() => {
                this.changeComponent({
                    name: 'list', 
                    options: { errorMessage: "Server error!" }
                });
            });
    },

    methods: {
        changeComponent(component) {
            this.componentOptions = component.options
            this.component = component.name;
        },

        changeModal(modal) {
            this.modal = modal;
        }
    }
}
</script>



