<template>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button class="close" v-on:click="onDismiss"><span aria-hidden="true">&times;</span></button> -->
                    <h4 class="modal-title">{{ options.title }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ options.body }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" v-on:click="onDismiss">Close</button>
                    <button type="button" class="btn btn-danger pull-right" v-on:click="onAccept">Remove</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        index: Number,
        options: Object,
    },

    mounted() {
        $('#modal').modal({backdrop: "static"});
    },

    methods: {
        onAccept() {
            $('#modal').modal('hide');
            $('#modal').on('hidden.bs.modal', () => {
                this.$emit('accept', {
                    index: this.index
                });
            });
        },
        
        onDismiss() {
            $('#modal').modal('hide');
            $('#modal').on('hidden.bs.modal', () => {
                this.$emit('dismiss');
            });
        },
    }
}
</script>



