<template>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button class="close" v-on:click="onDismiss"><span aria-hidden="true">&times;</span></button> -->
                    <h4 class="modal-title">{{ options.title }}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" id="name">
                        <label for="message-text" class="control-label">Name:</label>
                        <textarea class="form-control" v-model="name"></textarea>
                    </div>
                    <div class="form-group" id="key">
                        <label for="recipient-name" class="control-label">Key:</label>
                        <input class="form-control" v-model="key" v-bind:type="keyFieldType">
                    </div>
                    <label><input type="checkbox" @click="changeFieldType"> Show Password</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" v-on:click="onDismiss">Close</button>
                    <button type="button" class="btn btn-primary pull-right" v-on:click="onAccept">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        index: Number,
        options: Object,
    },

    data() {
        return {
            name: this.options.name,
            key: this.options.key,
            keyFieldType: 'password',
        }
    },

    mounted() {
        $('#modal').modal({backdrop: "static"});
    },

    methods: {
        onAccept() {
            if (this.checkFields()) {
                $('#modal').modal('hide');
                $('#modal').on('hidden.bs.modal', () => {
                    this.$emit('accept', {
                        index: this.index,
                        item: {
                            name: this.name,
                            key: this.key
                        }
                    });
                });
            }
        },

        onDismiss() {
            $('#modal').modal('hide');
            $('#modal').on('hidden.bs.modal', () => {
                this.$emit('dismiss');
            });
        },

        changeFieldType() {
            if (this.keyFieldType === 'text') {
                this.keyFieldType = 'password';
            } else {
                this.keyFieldType = 'text';
            }
        },

        checkFields() {
            $('#name').removeClass('has-error');
            $('#key').removeClass('has-error');

            let isError = false;
            if (!this.name.length) {
                isError = true;
                $('#name').addClass('has-error');
            }
            if (!this.key.length) {
                isError = true;
                $('#key').addClass('has-error');
            }
            return !isError;
        }
    }
}
</script>



